services:
  - type: web
    name: customer-list
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    autoDeploy: true